* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 25px 0;
}

.header p {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 5px;
  font-weight: bolder;
  font-size: 48px;
  color: white;
}

.header .togglebox {
  position: relative;
  top: 4px;
  align-self: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.togglebtn {
  font-size: 16px;
  border: none;
  padding: 2px 5px;
  font-weight: bold;
  color: cornflowerblue;
  background-color: white;
}

.togglebtn.celcius {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.togglebtn.fahrenheit {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.currentUnit {
  background-color: rgb(60, 109, 197);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.searchbar {
  width: 500px;
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 40px;
  padding: 5px;
}

.searchbar input {
  font-size: 18px;
  padding: 2px 10px;
  border: none;
  outline: none;
  background-color: inherit;
}

.searchbar button {
  border: none;
  background-image: url(images/magnify.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
}

.result {
    font-size: 24px;
    height: 500px;
    align-self: stretch;
    padding: 20px 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.temperature {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.toggleTemp {
    border: none;
    padding: 2px 5px;
    font-size: 12px;
    font-family: inherit;
    background-color: white;
    color: cornflowerblue;
    font-weight: bold;
    border-radius: 4px;
}

.toggleTemp:hover{
    background-color: rgb(230, 230, 230);
}


img[src=""] {
    display: none;
}
